
{% extends 'basic.html' %}


{% block css %}
/* account page */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow:  0 0 20 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
   display: inline-block; 
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border:none; 
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#LoginForm{
    left: -300px;
}

#RegForm{
   left: 0; 
}

form a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height:3px;
    margin-top:  8px;
    transform: translateX(100px); 
    transition: transform 1s;
}
{% endblock%}


{% block body %}

{% load static %}
 <!---account page------>
    <div class="account-page">
        <div class="row">
            <div class="col-2">
                <img src="images/image1.png" width="100%" alt="">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm">
                        <input type="text" placeholder="Username">
                        <input type="password" placeholder="Password">
                        <button type="submit" class="btn">Login</button>
                        <a href=""> Forgot password</a>
                    </form>

                    <form id="RegForm">
                        <input type="text" placeholder="Username">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <button type="submit" class="btn">Login</button>
                        <a href=""> Forgot password</a>
                    </form>
                </div>
            </div>

        </div>
    </div>

    {% block js %}
      <script>
        //js for toggle form
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indicator = document.getElementById("Indicator");

        function register(){
         RegForm.style.transform = "translateX(0px)";
         LoginForm.style.transform = "translateX(0px)";
         Indicator.style.transform = "translateX(100px)";
     }

     function login(){
         RegForm.style.transform = "translateX(300px)";
         LoginForm.style.transform = "translateX(300px)";
         Indicator.style.transform = "translateX(0px)";
     }
        
        LoginForm.addEventListener("onclick", function() {
            console.log("hello");
            RegForm.style.transform = "translateX(300px)";
            LoginForm.style.transform = "translateX(300px)";
        });


    </script>

    {% endblock %}


    {%endblock%}